.cadastro {
    position: fixed;
    left: 54%;
    top: 16.6%;
    display: block;
    width: 35%;
    height: 72%;
    align-items: center;
    justify-content: space-between;
    background: #222E50;
    border-radius: 10px;
}

.background-logo img {
    position: relative;
    height: 80%;
    width: 54%;
    top: 22vh;
}

.cadastro .user-img img {
    position: relative;
    display: block;
    max-width: 32%;
    height: auto;
    left: 30%;
}

.cadastro ul {
    padding: 0px 10%;
}

.cadastro ul li{
    position: relative;
    width: 90%;
}

.cadastro ul li input{
    border: none;
    width: 100%;
    background: #D9D9D9;
    display: block;
    padding: 3% 6%;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Inter';
    font-weight: bold;
}

.cadastro ul li select {
    background: #D9D9D9 url(../img/arrow-down.png) no-repeat scroll 92%;
    appearance: none;
    border: none;
    width: 100%;
    display: block;
    padding: 3% 6%;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Inter';
    font-weight: bold;
}

option:hover {
    background: #222E50;
}

.cadastro ul li select::placeholder{
    color: #111E3E;
}

.cadastro ul li select:focus,
.cadastro ul li select:valid {
    outline: limegreen;
}

.cadastro ul li input::placeholder{
    color: #111E3E;
}

.cadastro ul li input:focus,
.cadastro ul li input:valid {
    outline: limegreen;
}

.cadastro .tem-conta {
    position: relative;
    display: block;
    color: #111E3E;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 24%;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 90%;
}

.cadastro .tem-conta a{
    color: #111E3E;
    text-decoration: underline;
    text-underline-position: auto;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 90%;
}

.cadastro .botao-cadastro {
    position: relative;
    display: block;
    margin: 3%;
}

.cadastro button {
    position: relative;
    display: block;
    left: 23%;
    color: #222E50;
    background: #D9D9D9;
    border-radius: 12px;
    font-size: 80%;
    padding: 2% 16%;
    margin: 3%;
    border: none;
    font-family: 'Inter';
    font-weight: bold;
}