/*Estilo Modal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #111e3e;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#principal {
    position: relative;
    border-radius: 20px;
    background-color: #222e50;
    width: 65vw;
    height: 75vh;
    margin-top: 25px;
    max-width: 85vw;
    max-height: 80vh;
    overflow: hidden;
}

#linhaDivisoria {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border-top: 2px solid white;
}

#containerButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 45vw;
}

#publicar,
#close-modal {
    font-size: large;
    background-color: #111e3e;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    margin-left: 10px;
}

#publicar:hover,
#close-modal:hover {
    background-color: #8bc34a;
}

@media only screen and (max-width: 600px) {
    #principal {
        width: 90vw;
        height: 70vh;
    }
    
    #containerButton {
        justify-content: center;
        margin-left: 0;
    }
}

/*transição modal*/

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;

}

#modal{
    transform: translate(-50%,-50%);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

